node_modules/
backend/node_modules/
frontend/node_modules/
frontend/node_modules/.cache/gh-pages/
frontend/android-sdk/
frontend/android/build/
frontend/build/
expo-mobile/node_modules/
*.zip
build/
dist/
